<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Periodic Guess</title>
</head>
<body>
    <h1>Periodic Guess</h1>
    
    <form method="POST" action="/quiz">
        <input type="text" name="element" placeholder="Type element name">
        <button type="submit">Search</button>
    </form>
    
        <!-- Headers -->
    <div class="column">
        <div>Element</div>
        <div>Atomic Num</div>
        <div>Group</div>
        <div>Period</div>
        <div>State</div>
        <div>Category</div>
        <div>Boiling Point</div>
        <div>Melting Point</div>
    </div>

    <!-- Data -->
    {% if result%}
        {% for element in result %}
            <div class="column">
                <div>{{ element['Element_ID'] }}</div>
                <div class = "{% if target and element['Atomic_number']|string == target['Atomic_number']|string %}green{% else %}red{% endif %}">
                    {{ element['Atomic_number'] }}
                    {% if target %}
                        {% if element['Atomic_number'] < target['Atomic_number'] %}
                            ↑
                        {% elif element['Atomic_number'] > target['Atomic_number'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div class = "{% if target and element['Group_number']|string == target['Group_number']|string %}green{% else %}red{% endif %}">
                    {{ element['Group_number'] }}
                </div>
                <div class = "{% if target and element['Period_number']|string == target['Period_number']|string %}green{% else %}red{% endif %}">
                    {{ element['Period_number'] }}
                </div>
                <div class = "{% if target and element['State']|string == target['State']|string %}green{% else %}red{% endif %}">
                    {{ element['State'] }}
                </div>
                <div class = "{% if target and element['Category']|string == target['Category']|string %}green{% else %}red{% endif %}">
                    {{ element['Category'] }}
                </div>
                <div class = "{% if target and element['Boilingpoint']|string == target['Boilingpoint']|string %}green{% else %}red{% endif %}">
                    {{ element['Boilingpoint'] }}
                    {% if target %}
                        {% if element['Boilingpoint'] < target['Boilingpoint'] %}
                            ↑
                        {% elif element['Boilingpoint'] > target['Boilingpoint'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div class = "{% if target and element['Meltingpoint']|string == target['Meltingpoint']|string %}green{% else %}red{% endif %}">
                    {{ element['Meltingpoint'] }}
                    {% if target %}
                        {% if element['Meltingpoint'] < target['Meltingpoint'] %}
                            ↑
                        {% elif element['Meltingpoint'] > target['Meltingpoint'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    {{ element['random_symbol'] }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div colspan="8">No element found.</div>
        </div>
    {% endif %}

    
</body>
</html>