<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Periodic Guess</title>
</head>
<body>
    <h1>Periodic Guess</h1>
    <div class = "hint">
        <a href="{{ url_for('hint') }}">Hint(Periodic Table)</a>
        <p>Hints left: {{ remaining }}</p>
    </div>
    
    <form method="POST" action="/quiz">
        <input type="text" name="element" placeholder="{{ invalid if invalid else 'Type element name' }}">
        <button type="submit">Search</button>
    </form>
    
    <div class="grid">
        <div>Element</div>
        <div>Atomic Num</div>
        <div>Group</div>
        <div>Period</div>
        <div>State</div>
        <div>Category</div>
        <div>Boiling Point</div>
        <div>Melting Point</div>
        <div>Symbol</div>

        {% if result %}
            {% for element in result %}
                <div>{{ element['Element_name'] }}</div>
                <div class="{% if target and element['Atomic_number']|string == target['Atomic_number']|string %}green{% else %}red{% endif %}">
                    {{ element['Atomic_number'] }}
                    {% if target %}
                        {% if element['Atomic_number'] < target['Atomic_number'] %}
                            ↑
                        {% elif element['Atomic_number'] > target['Atomic_number'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div class="{% if target and element['Group_number']|string == target['Group_number']|string %}green{% else %}red{% endif %}">{{ element['Group_number'] }}</div>
                <div class="{% if target and element['Period_number']|string == target['Period_number']|string %}green{% else %}red{% endif %}">{{ element['Period_number'] }}</div>
                <div class="{% if target and element['state_name']|string == target['state_name']|string %}green{% else %}red{% endif %}">{{ element['state_name'] }}</div>
                <div class="{% if target and element['category_name']|string == target['category_name']|string %}green{% else %}red{% endif %}">{{ element['category_name'] }}</div>
                <div class="{% if target and element['Boilingpoint']|string == target['Boilingpoint']|string %}green{% else %}red{% endif %}">
                    {{ element['Boilingpoint'] }}
                    {% if target %}
                        {% if element['Boilingpoint'] < target['Boilingpoint'] %}
                            ↑
                        {% elif element['Boilingpoint'] > target['Boilingpoint'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div class="{% if target and element['Meltingpoint']|string == target['Meltingpoint']|string %}green{% else %}red{% endif %}">
                    {{ element['Meltingpoint'] }}
                    {% if target %}
                        {% if element['Meltingpoint'] < target['Meltingpoint'] %}
                            ↑
                        {% elif element['Meltingpoint'] > target['Meltingpoint'] %}
                            ↓
                        {% endif %}
                    {% endif %}
                </div>
                <div>{{ element['random_symbol'] }}</div>
            {% endfor %}
        {% else %}
            <div style="grid-column: 1 / -1; color: #1e3a8a; background: transparent; padding: 12px; border-radius: 6px;">No element found.</div>
        {% endif %}
    </div>
</body>
</html>